:root {
  --primary-color: #4b0206;
  --accent-color: #d15300;
  --secondary-color: #fff3c3;
}

body {
  background: var(--secondary-color);
}

h1 {
  color: var(--primary-color);
  text-align: center;
  font-size: large;
}

h2 {
  color: var(--accent-color);
  text-align: center;
  font-size: medium;
}

p {
  color: var(--primary-color);
  font-size: medium;
}
