:root {
  --primary-color: rgba(0, 0, 255, 0.966);
  --accent-color: rgba(255, 0, 0, 0.788);
  --secondary-color: rgb(248, 242, 238);
}

body {
  background: var(--secondary-color);
}

h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  text-align: center;
}
